* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: arial;
    background-color: rgba(245, 245, 241, 0.938);
}


.container{
    width: 70%;
    margin: auto;

}


/* Menu */

nav{
    background-color: #44A1A0;
    height: 60px;
}

ul{
    list-style: none;
    float: right;
    margin-right: 100px;
}

li {
    display: inline-block;
    line-height: 60px;
    padding: 0px 10px;
}

li a{
    text-decoration: none;
    color: #fff;
}

li a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

/*Titulo artigo*/
h1{
    padding: 40px 0px 20px 0px;
    font-size: 20pt;
    line-height: 40px;
}



/*Conteudo*/

section{
    width: 60%;
    box-sizing: border-box;
    float: left;
}

section>img{
    width: 100%;
}

p.txt {
    font-size: 13pt;
    color:#686868;
    line-height: 30px;
    margin: 20px 0px;
    font-family: 'Microsoft YaHei Light';
}

/* Formulario de comentario */
form img{
    width: 50px;
    display: block;
    float: left;
    padding: 10px 5px;
}

h2 {
    font-family: 'Microsoft YaHei Light';
    color:#686868;
    line-height: 40px;
    margin-bottom: 10px;
}

textarea{
    height: 100px;
    width: 80%;
    border: none;
    padding: 7px;
    margin: 9px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    display: block;
    float: left;
    font-size: 13pt;
}

input[type=submit]{
    font-family: 'Arial';
    width: 150px;
    height: 30px;
    background-color:rgba(245, 245, 241, 0.938);;
    border: 2px solid #44A1A0;
    color: #44A1A0;
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 30px;
}

input[type=submit]:hover{
    background-color: #44A1A0;
    color: rgba(245, 245, 241, 0.938);
}

/* ------- Area de Comentario ------------ */

.area-comentario{
    box-sizing: border-box;
    border-bottom: #686868 1px solid;
    clear: both;
    padding: 10px;
}

.area-comentario img{
    width: 50px;
    float: left;
    padding-right: 10px;
}

.area-comentario h3 {
    float: left;
    color: rgb(0, 139, 120);
    font-size: 12pt;
    padding: 5px 10px 5px 0px;
}

.area-comentario h4 {
    font-size: 10pt;
    color: rgb(0,0,0, .6);
    line-height: 30px;
}

.area-comentario h4 a{
    color: #000;
    text-decoration: none;
}

.area-comentario h4 a:hover{
    text-decoration: underline;
}

.area-comentario p{
    line-height: 25px;
}

/*----------------Conteudo Lateral------------------*/

section#conteudo1, section#conteudo2{
    width: 40%;
    box-sizing: border-box;
    float: right;
}

#conteudo1 div, #conteudo2 div{
    width: 70%;
    background-color: rgba(0, 0, 0, .02);
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 40px 20px;
    margin: 40px auto;
}

#conteudo1 img{
    width: 90%;
    margin: auto;
    display: block;
}

#conteudo1 p, #conteudo2 p{
    width: 90%;
    font-family: "Microsoft YaHei Light";
    color: #686868;
    line-height: 20px;
    text-align: center;
    margin: 20px auto;

}

#conteudo2 h5{
    font-family: "Microsoft Yahei Light";
    color: #686868;
    text-align: center;
    font-size: 15pt;
}