* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: arial;
    background-color: #FFFFFA;
}

h3 {
    font-size: 40pt;
    padding: 70px;
}
h2{
    padding: 10px 70px;
}
/* Menu */

nav{
    background-color: #44A1A0;
    height: 60px;
}

ul{
    list-style: none;
    float: right;
    margin-right: 100px;
}

li {
    display: inline-block;
    line-height: 60px;
    padding: 0px 10px;
}

li a{
    text-decoration: none;
    color: #fff;
}

li a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}